<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type"content="text/html;charset=UTF-8"/>
	
<title>Finding jobs</title>
<link rel="stylesheet" href="" type="text/css">
</head>

<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/cookie.js"></script>
<script charset="utf-8" src="/static/js/user.js"></script>

<body>

<form name="form1" method="post" action="" enctype='multipart/form-data' >
  <table width="782" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
    <tr>
      <th colspan="2" bgcolor="#FFFFFF"><font size="5">Add User</font></th>
    </tr>
    <tr>
      <td width="364" align="right" bgcolor="#FFFFFF"> name</td>
      <td width="403" bgcolor="#FFFFFF">
        <input type="text" name="cname" id="name">
    </tr>
    <tr>
      <td width="364" align="right" bgcolor="#FFFFFF"> username</td>
      <td width="403" bgcolor="#FFFFFF">
        <input type="text" name="cname" id="username">
    </tr>
    <tr>
      <td width="364" align="right" bgcolor="#FFFFFF"> mobile</td>
      <td width="403" bgcolor="#FFFFFF">
        <input type="text" name="cname" id="mobile">
    </tr>
    <tr>
      <td width="364" align="right" bgcolor="#FFFFFF"> email</td>
      <td width="403" bgcolor="#FFFFFF">
        <input type="text" name="cname" id="email">
    </tr>
    <tr>
      <td align="right" bgcolor="#FFFFFF">密码</td>
      <td bgcolor="#FFFFFF">
        <input type="password" name="pwd" id="passwd">
    </tr>
    <tr>
      <td  align=right bgcolor="#FFFFFF" >
      <input type="button" name="submit"  id="add_user" value="add" >
      </td>
      <td align=left bgcolor="#FFFFFF">
        <input type="reset" name="submit" value="reset">
      </td>
    </tr>
  </table>
</form>

</body>
</html>
